@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,300;0,500;0,700;1,100&family=Sen:wght@400;800&display=swap');

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.clearfix::after {
	content: "";
   display: block;
   clear: both;
}

/* ------------- GENERIC --------------*/

/* Colors */

:root {
	--bgColor: #FFF;
   --pink: #BF2CE5;
 	--turquoise : #01D1D1;
 	--black: #0A102A;
 	--lightGrey : #F2F6F6
}


.bgBlue {
	background: var(--black);
}

.bgOrange {
	background: var(--orange);
}

/* Typo */


body {
	font-family: 'IBM Plex Sans', sans-serif;
	font-weight: 400;
	background: var(--bgColor);
	line-height: 1.5;
	color: var(--black);
	overflow-y: scroll;
}

h1, h2, h3, h4 {
	font-family: 'IBM Plex Sans';
}


.container {
	max-width: 1320px;
	margin: 0 auto;
}

.container768 {
	max-width: 768px;
	margin: 0 auto;
}

.floatLeft { float: left; }
.floatRight { float: right; }
strong {font-weight: 700;}


/* ------------- HEADER --------------*/

header {
	border-bottom: 2px solid var(--lightGrey);
}

.header_topBar {
	background: linear-gradient(90.77deg, var(--pink) 27.77%, var(--turquoise) 64.42%);
	padding: 1em;
	color: #fff;
	vertical-align: middle;
	box-shadow: inset 0 -3px 1.5em rgba(0,0,0,0.1);
}

.header_topBar img {
	font-weight: 2em;
	display: inline-block;
	vertical-align: middle;
	margin-right: 1em;
}

.header_topBar a {
	text-decoration: none;
	font-weight: 700;
	color: #fff;
}


.header_navBar {
	padding: 2em 0;
}

.header_navBar > * > a {
	text-decoration: none;
	float: left;
}

.mainNav, .secondaryNav {
	float: right;
	clear: both;
}


.secondaryNav {
	margin-right: 2em;
	margin-bottom: 4em;
	font-size: 0.875em;
}

.mainNav li {
	display: inline-block;
	position: relative;
}

.mainNav li button {
	font-family: IBM Plex Sans;
	background: none;
	padding: 1em;
	font-size: 1em;
	border: 4px solid transparent;
	cursor: pointer;
	text-transform: uppercase;
	font-weight: 700;
	color: var(--black);
	border-radius: 2em;
	transition: all 0.150s;
}

.mainNav li button.current {
	color: var(--turquoise);
}

.mainNav li button.roundPink {
	background: var(--pink);
	color: #fff;
	border-radius: 2em;
	padding: 0.5em 1em;
	margin-right: 1em;
	text-transform: initial;
}

.mainNav li button.roundTurquoise {
	background: var(--turquoise);
	color: #fff;
	border-radius: 2em;
	padding: 0.5em 1em;
	margin: 0 1em;
	text-transform: initial;
}

.mainNav li button:active, .mainNav li button:focus  {
	border-color: rgba(0,0,0,0.15);
}

.mainNav li button:after {
	content: '';
	display: block;
	width: 0;
	border: 0.75em solid transparent;
	border-bottom-color: #fff ;
	display: none;
	position: absolute;
	left: 50%;
	margin-left: -0.75em;
	bottom: -1.5em;
}

.mainNav li button:focus:after {
	display: block;
}


.mainNav li > ul {
	background: #fff;
   padding: 3em;
   width: 600px;
   position: absolute;
   right: 0;
   top: 5em;
   display: none;
   border-radius: 1em;
	box-shadow: 0 3px 8px rgba(0,0,0,0.05);
}

.mainNav > li > ul:active {
	display: block !important;
}

.mainNav > li button:focus + ul {
	display: block;
}

.mainNav > li > ul > li {
	width: 49%;
	box-sizing: border-box;
}

.mainNav > li > ul > li * {
	display: inline-block;
	vertical-align: top;
	color: #111;
}

.mainNav > li > ul li a {
	text-decoration: none;
	padding: 1em;
	border-radius: 4px;
	font-family: IBM Plex Sans, sans-serif;
}

.mainNav > li > ul li a:hover {
	background: var(--bgColor);
}

.mainNav > li > ul li div {
	padding-left: 1em;
	width: 75%;
}

.mainNav li > ul li div h4 {
	color: var(--black);
	font-weight: 700;
	letter-spacing: 2px;
}

.mainNav .resourcesNav * {
	display: block;
	padding: 0.25em;
} 

.mainNav .resourcesNav {
	width: 768px;
} 

.mainNav > li button:focus + .resourcesNav {
	display: table-row;
}

.mainNav .resourcesNav > li {
	display: table-cell;
	width: 25%;
	padding-right: 1em;
}

.mainNav .resourcesNav li div {
	width: 100%;	

}
.mainNav li .resourcesNav h4 {
	height: 2em;
	margin-bottom: 1.5em;
	width: 75%;
}

.mainNav .resourcesNav > li {
	padding-bottom: 0
}
.mainNav .resourcesNav > li a {
	margin-left:-0.5em;
	padding: 0.75em;
	border-top: 2px solid var(--bgColor);
}

.secondaryNav li a {
	padding: 1em;
	color: #fff;
	text-decoration: none;
	border-radius: 4px;
	font-family: IBM Plex Sans;
	font-weight: 700;
	letter-spacing: 1px;
	display: block;
}

section.hero {
	padding: 3em 0;
}

.hero h1 {
	font-weight: 700;
	font-size: 2em;
	line-height: 1.5;
	width: 50%;
}

.hero h2 strong {
	color: var(--orange);
}

.whyPeople, .whyTech{
	box-sizing: border-box;
	padding: 5em 5em 17em 5em;
	margin: 5em 0 15em;
	width: 48%;
	margin: 1%;
	background: #fff
}

.why h1 i {
	font-family: 'IBM Plex Sans';
	font-weight: 700;
	font-style: italic;
}

.why h2 {
	font-size: 4em;
	color: #111;
	line-height: 1;
	margin-bottom: 1em;
}

.why img {
	width: 100%;
	margin-top: -14em;
}

.why p {
	font-size: 1.75em;
	color: #111;
	max-width: 675px;
	margin: 0 auto;
}

/* ------------ CATALOGUE ------------- */

/* generique */


.flex {
	display: flex;
	flex-flow: row ;
}

.flex.wrap {
	flex-flow: row wrap;
}

.flex.center {
	align-items: center;
}


/* ---- Moteur de recherche ----- */

.searchEngine > div {
	flex: 1;
	margin-right: 1em;
}

.searchEngine > div:first-child {
	flex: 50%;
	position: relative;
}

.searchEngine input[type=text], .searchEngine select {
	border: none;
	outline: 2px solid rgba(0,0,0,.1);
	background: var(--lightGrey);
	font-family: 'IBM Plex Sans', sans-serif;
	position: relative;
	display: block;
	padding: 1em;
	border-radius: 2em;
	margin: 1em;
	width: 100%;
	box-sizing: border-box;
}

.searchEngine input[type=text] {
	padding-left: 4em;
}

.searchEngine input[type=text]:focus, .searchEngine select:focus {
	outline: 2px solid var(--black);
}

.searchEngine > div:before {
	display: block;
	content: '';
	position: absolute;
	background: url(img/searchIcon.svg);
	width: 1em;
   height: 1em;
   left: 2em;
   top: 1.75em;
   z-index: 2;
}

/* ---- Contenu du catalogue ----- */


.catalogueCell {
	transition: all 0.150s;
	flex: 1 0 25%;
	background: #fff;
	padding: 2em;
	box-shadow: 
		0px 22px 81px -11px rgba(2, 32, 57, 0.16),
		0px 2px 2px 0 rgba(2, 32, 57, 0.07);
	border-radius: 1em;
	margin: 1em;
	display: flex;
	flex-flow: column wrap;
	max-width: 26%;
	cursor: pointer;
	border: 3px solid transparent;
}

.catalogueCell:hover {
	border-color: var(--black);
}

.catalogueCell .title img {
	width: 15%;
	padding-right: 1em;
}

.catalogueCell .title h2 {
	font-weight: 700;
}
.catalogueCell .title ul li {
	margin-right: 0.5em
}
.catalogueCell .title ul li .tag{
	font-size: 0.75em;
	padding: 0.5em 1em;
	background: var(--lightGrey);
	border-radius: 1em;
}

.catalogueCell .description {
	padding-top: 1.5em;
	font-family: Sen, sans-serif;
}

.catalogueCell.addService {
	background: none;
	border: 4px dotted var(--black) ;
	box-shadow: none;
}

.catalogueCell.addService:hover {
	border-style: solid;
}

.catalogueCell.addService button {
	border: none;
	background: none;
	font-family: IBM Plex Sans, sans-serif;
	font-weight: 700;
	color: var(--black);
	cursor: pointer;
	font-size: 1em;
	padding: 3em;
	align-items: center;
}

footer {
	padding: 3em 0;
}

footer div {
	width: 25%;
	font-weight: 700;
	font-size: 1em;
	padding: 3em 0;
}

footer div img { margin-bottom: 3em}
footer div ul li a{ text-decoration: none; color: var(--turquoise); display: block; padding: 0.5em 0 0; }

/** ------------------- BREADCRUMB ----------------------**/

.breadcrumb {
	padding: 3em 0
}

.breadcrumb li {
	position: relative;
}

.breadcrumb li.back {
	padding-right: 1em;
}

.breadcrumb li.back a {
	position: relative;
}

.breadcrumb li.back a:before {
	position: absolute;
	display: block;
	content: '';
	background: url(img/back.svg);
	width: 0.5em;
	height: 0.875em;
	top: 1.3em;
}

.breadcrumb li a {
	padding: 1em;
	text-decoration: none;
	color: var(--black);
	font-weight: 700;
}

.breadcrumb li:after {
	display: block;
	content: '/';
	position: absolute;
	right: -0.3em;
	top: 0;
}

.breadcrumb li:last-child:after,.breadcrumb li.back:after  {
	display: none;
}

.breadcrumb li.current a {
	color: var(--turquoise);
}

/** ------------------- PAGE SERVICE ------------------ **/

body.servicePage main {
	border-radius: 1em;
	box-shadow: 
		0px 22px 81px -11px rgba(2, 32, 57, 0.16),
		0px 2px 2px 0 rgba(2, 32, 57, 0.07);
}

.servicePageTitle {
	align-items: center;
	border-bottom: 2px solid var(--lightGrey);
	padding-bottom: 1em;
	padding: 3em;
}

.servicePageTitle img {
	background: #fff;
	width: 6em;
	margin-right: 2em;
	background: #fff;
	padding: 1em;
}

.servicePageTitle h1 {
	font-size: 2.5em;
	font-weight: 700;
	flex: 1;
}

.servicePageTitle .ctas a {
	text-decoration: none;
	padding: 1em 2em;
	border-radius: 2em;
}

.servicePageTitle .ctas a.useService {
	background: var(--turquoise);
	color: #fff;
	font-weight: 700;
	font-size: 1.135em;
}

.servicePageContent {
	padding: 3em;
	font-family: Sen, sans-serif;
}

.servicePageContent h1 {
	font-size: 1.5em;
	margin: 1em 0;
}